# .NET
*.dll
*.exe
*.so
*.dylib
*.log
*.obj
*.bin
*.userprefs

# Visual Studio
.vscode/
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Mac files
.DS_Store

# Local History
.localhistory/

# Coverage reports
coverage/
*.coverage
*.coveragexml

# npm package directories
node_modules/

# Logs
logs/
*.log

# Blazor specific
wwwroot/css/app.css
wwwroot/css/app.min.css
wwwroot/css/bootstrap/
wwwroot/js/
wwwroot/lib/
wwwroot/appsettings.json

# Publish outputs
publish/
out/

# Dependency directories
packages/
